@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "uncut sans";
  src: url("./uncut-sans.woff2") format("woff2");
}

@font-face {
  font-family: "geist mono";
  src: url("./geist-mono.woff2") format("woff2");
}

* {
  font-family: "uncut sans", sans-serif;
}

code,
pre {
  font-family: "geist mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-cartographer-pattern {
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  background-size: cover;
}

@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animate-moveBackground {
  animation: moveBackground 80s linear infinite;
}